html
  head
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    script.
      var ip = "#{ip}",
      port = "#{port}",
      disp_avatars = #{avatars},
      delay = #{delay};
    script(src="/js/main.js")
    script(src=hud)
    link(rel='stylesheet', href=css)
  body
    section
      //- #bomb_timer
      #header
        #match_teams
          #round_info(style='height: 100%;')
            #team_1.team_info(style='height: 100%;')
              #team_score
              #team_name
              #teambg-container
              //- Team 1
              #team_logo
                //- #team_flag
                img#team_1_logo
            #team_2.team_info(style='height: 100%;')
              #team_score
              #team_name
              #teambg-container
              //- Team 2
              #team_logo
                //- #team_flag
                img#team_2_logo
            #time_info
            #time_counter
            //-1:55
            #round_counter
            //-Round 0 / 30
            #matchup
              .leftscore
              .rightscore
              .content
              .bg
      #bomb-defusing-container
        #bombcontent
          #bomb
          #bombtimer
            div 00:00
        #bomb-round-ultimate-wrapper
          #bomb-round-green-wrapper
            #bomb-round-green-crop
              #bomb-round-green
          #bomb-round-right-wrapper
            #bomb-round-right-crop
              #bomb-round-right
          #bomb-round-bottom
      #who_won
        #winning_team_logo
        #winning_team
        div wins the round!
      #player-container
        //- #teambg-container
        #avatar_container(style="width:165px; height:165px; float:left; margin: 3px 3px;")
        #container2(style="width:632px;")
          #teambg-container
          #first_row
            #stats
                #kills_count.inlining
                //-K: 13
                #assist_count.inlining
                //-A: 13
                #death_count.inlining
                //-D: 13
          .hp_bar
              #hp_p.hp_el
          #second_row
            #current_nick
              //-| NICKNAME
            #health_armor
              #health-text
              //-100
              #armor-text
              //-100
            #ammo
              #clip-text.clip
              //-100/
              #reserve-text.reserve
              //-100
          #third_row
            #team_name.inlining
              //-| NICK
            #nades.inlining
            #bomb_t
            #bomb_ct
      #left.team
        #player1.player
          .player_highlight
          .bar1
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.ct
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                    .bomb_defuse.ct
                #weapon_icon.bar_weapon.ct
          .round_kills_container
          .round_kills_count
          .player_money_count
            .stats_wrapper
            .money_wrapper
        #player2.player
          .player_highlight
          .bar1
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.ct
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                    .bomb_defuse.ct
                #weapon_icon.bar_weapon.ct
          .round_kills_container
          .round_kills_count
          .player_money_count
            .stats_wrapper
            .money_wrapper
        #player3.player
          .player_highlight
          .bar1
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.ct
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                    .bomb_defuse.ct
                #weapon_icon.bar_weapon.ct
          .round_kills_container
          .round_kills_count
          .player_money_count
            .stats_wrapper
            .money_wrapper
        #player4.player
          .player_highlight
          .bar1
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.ct
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                    .bomb_defuse.ct
                #weapon_icon.bar_weapon.ct
          .round_kills_container
          .round_kills_count
          .player_money_count
            .stats_wrapper
            .money_wrapper
        #player5.player
          .player_highlight
          .bar1
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.ct
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                    .bomb_defuse.ct
                #weapon_icon.bar_weapon.ct
          .round_kills_container
          .round_kills_count
          .player_money_count
            .stats_wrapper
            .money_wrapper
      #right.team
        #player1.player
          .player_highlight
          .bar1
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.t
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                    .bomb_defuse.t
                #weapon_icon.bar_weapon.t
          .round_kills_container
          .round_kills_count
          .player_money_count
            .money_wrapper
            .stats_wrapper
        #player2.player
          .player_highlight
          .bar1
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.t
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                    .bomb_defuse.t
                #weapon_icon.bar_weapon.t
          .round_kills_container
          .round_kills_count
          .player_money_count
            .money_wrapper
            .stats_wrapper
        #player3.player
          .player_highlight
          .bar1
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.t
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                    .bomb_defuse.t
                #weapon_icon.bar_weapon.t
          .round_kills_container
          .round_kills_count
          .player_money_count
            .money_wrapper
            .stats_wrapper
        #player4.player
          .player_highlight
          .bar1
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.t
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                    .bomb_defuse.t
                #weapon_icon.bar_weapon.t
          .round_kills_container
          .round_kills_count
          .player_money_count
            .money_wrapper
            .stats_wrapper
        #player5.player
          .player_highlight
          .bar1
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.t
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                    .bomb_defuse.t
                #weapon_icon.bar_weapon.t
          .round_kills_container
          .round_kills_count
          .player_money_count
            .money_wrapper
            .stats_wrapper
