html
  head
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    script.
      var ip = "#{ip}",
      port = "#{port}",
      disp_avatars = #{avatars},
      delay = #{delay};
    script(src="/js/main.js")
    script(src=hud)
    link(rel='stylesheet', href=css)
  body
    #wrapper
        #content
            .team#team1
                .player#player1
                    .bar1
                        .hp_bar
                            #hp_p.hp_el
                    .name
                    #team_logo
                    .stats
                        .wrap
                            .hp
                            .money
                    .circle
                        .circle-left-wrap
                            .circle-left
                        .circle-right-wrap
                            .circle-right
                .player#player2
                    .name
                    #team_logo
                    .stats
                        .wrap
                            .hp
                            .money
                    .circle
                        .circle-left-wrap
                            .circle-left
                        .circle-right-wrap
                            .circle-right
                .player#player3
                    .name
                    #team_logo
                    .stats
                        .wrap
                            .hp
                            .money
                    .circle
                        .circle-left-wrap
                            .circle-left
                        .circle-right-wrap
                            .circle-right
                .player#player4
                    .name
                    #team_logo
                    .stats
                        .wrap
                            .hp
                            .money
                    .circle
                        .circle-left-wrap
                            .circle-left
                        .circle-right-wrap
                            .circle-right
                .player#player5
                    .name
                    #team_logo
                    .stats
                        .wrap
                            .hp
                            .money
                    .circle
                        .circle-left-wrap
                            .circle-left
                        .circle-right-wrap
                            .circle-right
            .team#team2
                .player#player6
                    .name
                    #team_logo
                    .stats
                        .wrap
                            .hp
                            .money
                    .circle
                        .circle-left-wrap
                            .circle-left
                        .circle-right-wrap
                            .circle-right
                .player#player7
                    .name
                    #team_logo
                    .stats
                        .wrap
                            .hp
                            .money
                    .circle
                        .circle-left-wrap
                            .circle-left
                        .circle-right-wrap
                            .circle-right
                .player#player8
                    .name
                    #team_logo
                    .stats
                        .wrap
                            .hp
                            .money
                    .circle
                        .circle-left-wrap
                            .circle-left
                        .circle-right-wrap
                            .circle-right
                .player#player9
                    .name
                    #team_logo
                    .stats
                        .wrap
                            .hp
                            .money
                    .circle
                        .circle-left-wrap
                            .circle-left
                        .circle-right-wrap
                            .circle-right
                .player#player10
                    .name
                    #team_logo
                    .stats
                        .wrap
                            .hp
                            .money
                    .circle
                        .circle-left-wrap
                            .circle-left
                        .circle-right-wrap
                            .circle-right