html
  head
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    script.
      var ip = "#{ip}",
      port = "#{port}",
      disp_avatars = #{avatars},
      delay = #{delay};
    script(src="/js/main.js")
    script(src=hud)
    link(rel='stylesheet', href=css)
  body
    #wrapper
        #content
            .team#team1
                .team_logo
                .player#player1
                    .hp_container
                        .hp_bar_red
                        .hp_bar
                    .name
                    .weapons
                    .stats
                        .numberstats
                            #kills
                            #assists
                            #deaths
                        .wrap
                            .hp
                            .money
                .player#player2
                    .hp_container
                        .hp_bar_red
                        .hp_bar
                    .name
                    .weapons
                    .stats
                        .numberstats
                            #kills
                            #assists
                            #deaths
                        .wrap
                            .hp
                            .money
                .player#player3
                    .hp_container
                        .hp_bar_red
                        .hp_bar
                    .name
                    .weapons
                    .stats
                        .numberstats
                            #kills
                            #assists
                            #deaths
                        .wrap
                            .hp
                            .money
                .player#player4
                    .hp_container
                        .hp_bar_red
                        .hp_bar
                    .name
                    .weapons
                    .stats
                        .numberstats
                            #kills
                            #assists
                            #deaths
                        .wrap
                            .hp
                            .money
                .player#player5
                    .hp_container
                        .hp_bar_red
                        .hp_bar
                    .name
                    .weapons
                    .stats
                        .numberstats
                            #kills
                            #assists
                            #deaths
                        .wrap
                            .hp
                            .money
            .team#team2
                .team_logo
                .player#player6
                    .hp_container
                        .hp_bar_red
                        .hp_bar
                    .name
                    .weapons
                    .stats
                        .numberstats
                            #kills
                            #assists
                            #deaths
                        .wrap
                            .hp
                            .money
                .player#player7
                    .hp_container
                        .hp_bar_red
                        .hp_bar
                    .name
                    .weapons
                    .stats
                        .numberstats
                            #kills
                            #assists
                            #deaths
                        .wrap
                            .hp
                            .money
                .player#player8
                    .hp_container
                        .hp_bar_red
                        .hp_bar
                    .name
                    .weapons
                    .stats
                        .numberstats
                            #kills
                            #assists
                            #deaths
                        .wrap
                            .hp
                            .money
                .player#player9
                    .hp_container
                        .hp_bar_red
                        .hp_bar
                    .name
                    .weapons
                    .stats
                        .numberstats
                            #kills
                            #assists
                            #deaths
                        .wrap
                            .hp
                            .money
                .player#player10
                    .hp_container
                        .hp_bar_red
                        .hp_bar
                    .name
                    .weapons
                    .stats
                        .numberstats
                            #kills
                            #assists
                            #deaths
                        .wrap
                            .hp
                            .money