html
  head
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    script.
      var ip = "#{ip}",
      port = "#{port}",
      disp_avatars = #{avatars},
      delay = #{delay};
    script(src="/js/main.js")
    script(src=hud)
    link(rel='stylesheet', href=css)
  body
    section
      //- #bomb_timer
      #header
        #match_teams
          #round_info(style='height: 100%;')
            #team_1.team_info(style='height: 100%;')
              #team_score
              #team_name
              #team_money_1
              #teambg-container
              //- Team 1
              #team_logo
                //- #team_flag
                img#team_1_logo
            #team_2.team_info(style='height: 100%;')
              #team_score
              #team_name
              #team_money_2
              #teambg-container
              //- Team 2
              #team_logo
                //- #team_flag
                img#team_2_logo
            #time_info
            #time_counter
            //-1:55
            #round_counter
            //-Round 0 / 30
            #matchup
              .leftscore
              .rightscore
              .content
              .bg
        #player_count <h2 class="left">4</h2><h2>vs</h2><h2 class="right">5</h2>
      #bomb-defusing-container
        #bombcontent
          #bomb
          #bombtimer
            div 00:00
        #bomb-round-ultimate-wrapper
          #bomb-round-green-wrapper
            #bomb-round-green-crop
              #bomb-round-green
          #bomb-round-right-wrapper
            #bomb-round-right-crop
              #bomb-round-right
          #bomb-round-bottom
      #who_won
        #winning_team_logo
        #winning_team
        div wins the round!
      #stats-container
        #left_stats
          #stats_player1.stats_player.st_left
            #stat_money.st_left
          #stats_player2.stats_player.st_left
            #stat_money.st_left
          #stats_player3.stats_player.st_left
            #stat_money.st_left
          #stats_player4.stats_player.st_left
            #stat_money.st_left
          #stats_player5.stats_player.st_left
            #stat_money.st_left
        #right_stats
          #stats_player6.stats_player.st_right
            #stat_money.st_right
          #stats_player7.stats_player.st_right
            #stat_money.st_right
          #stats_player8.stats_player.st_right
            #stat_money.st_right
          #stats_player9.stats_player.st_right
            #stat_money.st_right
          #stats_player10.stats_player.st_right
            #stat_money.st_right
      #player-container
        //- #teambg-container
        #container2(style="width:785px;")
          #teambg-container
          #first_row
            #current_nick
            #ammo
              #clip-text.clip
              //-100/
              #reserve-text.reserve
              //-100
            #health_armor
              #health-text
              //-100
              #armor-text
              //-100
          .hp_bar_red
          .hp_bar
              #hp_p.hp_el
          #second_row
            #stats
                #kills_count.inlining
                //-K: 13
                #assist_count.inlining
                //-A: 13
                #death_count.inlining
                //-D: 13
            #bomb_t
            #bomb_ct
            #nades.inlining
      #left.team
        #team_stats.team_stats
          #team_stats_top
            .lossbonus 
              .lossbonus_wrapper
                .lossbonus_column.lossbonus_column_first
                .lossbonus_column.lossbonus_column_second
                .lossbonus_column.lossbonus_column_third
                .lossbonus_column.lossbonus_column_fourth
              <p>LOSS<br>BONUS <span>$2900</span></p> 
            #equipvalue_1.equipvalue
            #teammoney_1.teammoney
          #team_stats_bottom
            #nade_icons
                #nades_first.nades
                  img(src='/files/img/grenades/weapon_flashbang.png')
                  <p>x5</p>
                #nades_second.nades
                  img(src='/files/img/grenades/weapon_smokegrenade.png')
                  <p>x5</p>
                #nades_third.nades
                  img(src='/files/img/grenades/weapon_hegrenade.png')
                  <p>x5</p>
                #nades_fourth.nades
                  img(src='/files/img/grenades/weapon_decoy.png')
                  <p>x5</p>
                #nades_fifth.nades
                  img(src='/files/img/grenades/weapon_molotov.png')
                  <p>x5</p>
        #player1.player
          .imageloader
          .player_highlight
          .bar1
            .hp_bar_red
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.ct
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                .money_stats
                .bomb_defuse.ct
                #weapon_icon.bar_weapon.ct
          //- .round_kills_container
          //- .round_kills_count
          .player_money_count
            .stats_wrapper
        #player2.player
          .imageloader
          .player_highlight
          .bar1
            .hp_bar_red
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.ct
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                .money_stats
                .bomb_defuse.ct
                #weapon_icon.bar_weapon.ct
          //- .round_kills_container
          //- .round_kills_count
          .player_money_count
            .stats_wrapper
        #player3.player
          .imageloader
          .player_highlight
          .bar1
            .hp_bar_red
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.ct
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                .money_stats
                .bomb_defuse.ct
                #weapon_icon.bar_weapon.ct
          //- .round_kills_container
          //- .round_kills_count
          .player_money_count
            .stats_wrapper
        #player4.player
          .imageloader
          .player_highlight
          .bar1
            .hp_bar_red
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.ct
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                .money_stats
                .bomb_defuse.ct
                #weapon_icon.bar_weapon.ct
          //- .round_kills_container
          //- .round_kills_count
          .player_money_count
            .stats_wrapper
        #player5.player
          .imageloader
          .player_highlight
          .bar1
            .hp_bar_red
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.ct
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                .money_stats
                .bomb_defuse.ct
                #weapon_icon.bar_weapon.ct
          //- .round_kills_container
          //- .round_kills_count
          .player_money_count
            .stats_wrapper
      #right.team
        #team_stats.team_stats
          #team_stats_top
            #teammoney_2.teammoney <p><span>$20400</span> TEAM<br>MONEY</p> 
            #equipvalue_2.equipvalue <p><span>$31750</span> EQUIP<br>VALUE</p> 
            .lossbonus 
              <p><span>$2900</span> LOSS<br>BONUS</p> 
              .lossbonus_wrapper
                .lossbonus_column.lossbonus_column_first
                .lossbonus_column.lossbonus_column_second
                .lossbonus_column.lossbonus_column_third
                .lossbonus_column.lossbonus_column_fourth
          #team_stats_bottom
            #nade_icons
              #nades_first.nades
                img(src='/files/img/grenades/weapon_flashbang.png')
                <p>x5</p>
              #nades_second.nades
                img(src='/files/img/grenades/weapon_smokegrenade.png')
                <p>x5</p>
              #nades_third.nades
                img(src='/files/img/grenades/weapon_hegrenade.png')
                <p>x5</p>
              #nades_fourth.nades
                img(src='/files/img/grenades/weapon_decoy.png')
                <p>x5</p>
              #nades_fifth.nades
                img(src='/files/img/grenades/weapon_molotov.png')
                <p>x5</p>
        #player1.player
          .imageloader
          .player_highlight
          .bar1
            .hp_bar_red
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.t
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                .money_stats
                .bomb_defuse.t
                #weapon_icon.bar_weapon.t
          //- .round_kills_container
          //- .round_kills_count
          .player_money_count
            .stats_wrapper
        #player2.player
          .imageloader
          .player_highlight
          .bar1
            .hp_bar_red
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.t
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                .money_stats
                .bomb_defuse.t
                #weapon_icon.bar_weapon.t
          //- .round_kills_container
          //- .round_kills_count
          .player_money_count
            .stats_wrapper
        #player3.player
          .imageloader
          .player_highlight
          .bar1
            .hp_bar_red
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.t
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                .money_stats
                .bomb_defuse.t
                #weapon_icon.bar_weapon.t
          //- .round_kills_container
          //- .round_kills_count
          .player_money_count
            .stats_wrapper
        #player4.player
          .imageloader
          .player_highlight
          .bar1
            .hp_bar_red
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.t
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                .money_stats
                .bomb_defuse.t
                #weapon_icon.bar_weapon.t
          //- .round_kills_container
          //- .round_kills_count
          .player_money_count
            .stats_wrapper
        #player5.player
          .imageloader
          .player_highlight
          .bar1
            .hp_bar_red
            .hp_bar
              #hp_p.hp_el
              #bar_username.bar_username 
              #weapon_icon.bar_weapon.t
          .bottom_bar
            .equip_bar
              #nades
                .hpbombset
                  .wrapper
                    .hp_el
                .money_stats
                .bomb_defuse.t
                #weapon_icon.bar_weapon.t
          //- .round_kills_container
          //- .round_kills_count
          .player_money_count
            .stats_wrapper
